DB_DATABASE= jdbc:postgresql://localhost:5432/<dbname>?allowPublicKeyRetrieval=true&useSSL=false
DB_USER= <dbUser>
DB_PASSWORD= <dbPassword>
PORT = <portApplication>
JWT_SECRET_KEY = <secretKey>

MAIL_USERNAME = <mailUsername>
MAIL_PASSWORD = <mailAppPassword>